<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-signin-client_id" content="309672869833-j7v3vqqhcdvs30v9g6hp9fpo96v1hefk.apps.googleusercontent.com">
  <title>oncood | <%= title %></title>
  <base href="/">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>