.form-style {
  width: 500px;
  padding: 30px;
  background-color: var(--color3);
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style h1 {
  text-align: center;
}

.form-style button {
  width: 100px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--color2);
  color: var(--text-primary);
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px 170px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.form-style span {
  display: block;
  text-align: center;
  font-weight: lighter;
}

.form-style span a {
  font-weight: bold;
  color: var(--text-secondary);
}

.form-style span a:hover {
  color: var(--text-primary);
}

.form-style input[type="text"], .form-style input[type="email"], .form-style input[type="password"], .form-style input[type="date"] {
  padding: 0.5rem;
  background-color: transparent;
  width: 100%;
  outline: none;
  display: block;
  border: none;
  border-bottom: 1px solid var(--color1);
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.form-style input[type="text"]:hover, .form-style input[type="email"]:hover, .form-style input[type="password"]:hover, .form-style input[type="date"]:hover {
  background-color: var(--color4);
}

.form-style input[type="text"]:focus, .form-style input[type="email"]:focus, .form-style input[type="password"]:focus, .form-style input[type="date"]:focus {
  background-color: var(--color4);
}

.or-line {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.or-line > span {
  position: relative;
  display: inline-block;
}

.or-line > span:before,
.or-line > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.or-line > span:before {
  right: 100%;
  margin-right: 15px;
}

.or-line > span:after {
  left: 100%;
  margin-left: 15px;
}

.signin-with-buttons {
  margin: 15px 100px;
}

.facebookButton {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  padding-top: 7px;
  text-align: center;
  width: 240px;
}